/* #586069 */
body {
	background-color: #f3f3f3 !important;
}

.container {
	max-width: 1230px !important;
}

.search {
	margin-top: 40px;
}

.search-body {
	padding: 15px;
}

.info {
	margin-top: 40px;
}

.el {
	line-height: 5px;
}

.brand {
	color: #000;
	font-size: 120%;
}

.amount {
	letter-spacing: 0px;
	color: #586069;
}

.field {
	margin: 20px;
}