{% extends 'cars/base.html' %}

{% load widget_tweaks %}

{% block content %}
  <form method="get" id="carSearchForm" data-models-url="{% url 'ajax_load_car_models' %}" novalidate>
    <div class="well">
      <h4 style="margin-top: 0">Filter</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ form.make.label_tag }}
          {% render_field form.make class="form-control" id="id_make" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ form.car_model.label_tag }}
          {% render_field form.car_model class="form-control" id="id_model"%}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ form.min_year.label_tag }}
          {% render_field form.min_year class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ form.max_year.label_tag }}
          {% render_field form.max_year class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ form.min_price.label_tag }}
          {% render_field form.min_price class="form-control" %}
        </div>
          <div class="form-group col-sm-4 col-md-3">
          {{ form.max_price.label_tag }}
          {% render_field form.max_price class="form-control" %}
        </div>
          <div class="form-group col-sm-4 col-md-3">
          {{ form.color.label_tag }}
          {% render_field form.color class="form-control" %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>
    <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Price</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      {% for car in cars %}
        <tr>
          <td>{{ car.make }}</td>
          <td>{{ car.car_model }}</td>
          <td>{{ car.year }}</td>
          <td>{{ car.price }}</td>
            <td>{{ car.color }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>

    $("#id_make").change(function () {
        const url = $("#carSearchForm").attr("data-models-url");  // get the url of the `load_cities` view
        const makeId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'make': makeId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_model").html(data);  // replace the contents of the city input with the data that came from the server

        }
      });

    });
  </script>
{% endblock %}